section .aboutUsArea .initialBanner {
    background-image: linear-gradient(rgb(0 0 0 / 90%), rgb(0 0 0 / 90%)), url('https://image.freepik.com/free-vector/teaching-students-online-internet-learning-computer-programming_335657-3119.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 200px;
}
.aboutPageWrapper {
    padding: 0px 50px;
}
section .aboutUsArea .initialBanner .pageIntro h3.pageName {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 4px;
    color: var(--white);
}

section .aboutUsArea .initialBanner {
    display: flex;
    align-items: center;
}

section .aboutUsArea .initialBanner .pageIntro span.breadCrumb {
    font-size: 20px;
    font-weight: 500;
    color: var(--white);
}

section .aboutUsArea .initialBanner .pageIntro a.homeLink {
    text-decoration: none;
}


/*==================================
  Responsive Css starts from here 
===================================*/
@media only screen and (max-width: 992px){

.aboutPageWrapper {
    padding: 0 25px;
}

}

@media only screen and (max-width: 400px){

section .aboutUsArea .initialBanner .pageIntro h3.pageName {
    font-size: 27px;
}

}